header {
  .wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-bottom: 1px solid $colorBorder;
    padding: 24px 24px 0;
    top: 0;
    width: 100%;
    z-index: 3;

    .top-box {
      display: flex;
      align-items: center;
      height: 40px;

      .logo img {
        width: 75px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
      }

      h2 {
        color: $color;
        font-size: 1.3em;
        padding-bottom: 5px;
      }
    }

    .menu {
      display: flex;
      justify-content: space-between;

      .menu_left {
        ul {
          display: flex;
          padding: 20px 0 10px;

          li {
            list-style: none;

            a {
              text-decoration: none;
              color: $color;
              font-size: 0.88em;
              font-weight: 600;
              margin-right: 40px;
              padding-bottom: 3px;

              &.active {
                color: $colorBlue;
                border-bottom: 4px solid $colorBlue;
                padding-bottom: 3px;
              }
            }
          }
        }
      }

      .menu_right {
        ul {
          display: flex;
          padding: 20px 0 10px;

          li {
            list-style: none;

            a {
              text-decoration: none;
              color: $color;
              font-size: 0.88em;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
