main {
  .wrapper {
    max-width: 978px;
    margin: 210px auto 40px;

    h2 {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;
      font-size: .95em;
      line-height: 20px;
      a {
        text-decoration: none;
        color: $colorBlue;
      }
    }
  }
}
