@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-size: 16px;
  min-width: 320px;
}

header .wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-bottom: 1px solid rgba(151, 151, 151, 0.5);
  padding: 24px 24px 0;
  top: 0;
  width: 100%;
  z-index: 3;
}
header .wrapper .top-box {
  display: flex;
  align-items: center;
  height: 40px;
}
header .wrapper .top-box .logo img {
  width: 75px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}
header .wrapper .top-box h2 {
  color: #5f6368;
  font-size: 1.3em;
  padding-bottom: 5px;
}
header .wrapper .menu {
  display: flex;
  justify-content: space-between;
}
header .wrapper .menu .menu_left ul {
  display: flex;
  padding: 20px 0 10px;
}
header .wrapper .menu .menu_left ul li {
  list-style: none;
}
header .wrapper .menu .menu_left ul li a {
  text-decoration: none;
  color: #5f6368;
  font-size: 0.88em;
  font-weight: 600;
  margin-right: 40px;
  padding-bottom: 3px;
}
header .wrapper .menu .menu_left ul li a.active {
  color: #3367d6;
  border-bottom: 4px solid #3367d6;
  padding-bottom: 3px;
}
header .wrapper .menu .menu_right ul {
  display: flex;
  padding: 20px 0 10px;
}
header .wrapper .menu .menu_right ul li {
  list-style: none;
}
header .wrapper .menu .menu_right ul li a {
  text-decoration: none;
  color: #5f6368;
  font-size: 0.88em;
  font-weight: 600;
}

main .wrapper {
  max-width: 978px;
  margin: 210px auto 40px;
}
main .wrapper h2 {
  margin-bottom: 20px;
}
main .wrapper p {
  margin-bottom: 20px;
  font-size: 0.95em;
  line-height: 20px;
}
main .wrapper p a {
  text-decoration: none;
  color: #3367d6;
}

footer {
  background: #f5f5f5;
  border-top: 1px solid #eee;
}
footer .wrapper {
  max-width: 978px;
  margin: 20px auto 0 auto;
  display: flex;
  height: 40px;
  justify-content: space-between;
}
footer .wrapper .left ul {
  display: flex;
  list-style: none;
}
footer .wrapper .left ul a {
  text-decoration: none;
  color: rgba(61, 61, 61, 0.8);
  font-size: 0.7em;
  font-weight: 400;
  padding-right: 20px;
}